body {
    background-image:url(mosaic.png);
    margin: 0;
    padding: 0;
    text-align: center;
  }


  /*Background Circle */
  .bg-circle {
    position: relative;
    border-radius: 50%;
    height: 600px;
    width: 600px; 
    margin-top: 70px; 
  }

  .game-board {
    position: absolute;
    min-height: 600px;
    min-width: 600px;
    }
  
  .quadrant {
    border-style: solid;
    border-color: #eee;
    display: inline-block;
    height: 300px;
    width: 300px;
    float: left;
  }
  
  .green {
    border-radius: 100% 0 0 0;
    border-width: 4px 2px 2px 4px;
    background-color: green;
  }
  
  .red {
    border-radius: 0 100% 0 0;
    border-width: 4px 4px 2px 2px;
    background-color: red;
  }
  
  .yellow {
    border-radius: 0 0 0 100%;
    border-width: 2px 2px 4px 4px;
    background-color: yellow;
  }
  
  .blue {
    border-radius: 0 0 100% 0;
    border-width: 2px 4px 4px 2px;
    background-color: blue;
  }
  .inner-circle {
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    
  }
  .title {
   margin-top: 5px;
  }
  .top-inner {
   padding: 20px 20px 0px 20px;
  }
  .bottom-inner {
    padding: 20px 20px 20px 20px;
  }
  
  .level {
    margin: 0;
    display: inline-grid;
  }
  .fa-st {
    color: #7fff00;
    font-size: 2.5rem;
  }
 
   #turn {
    position: absolute;
    background: #330000;
    color: red;
    font-family: courier;
    font-size: 20px;
    height: 30px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin: 10px 10px 1px 34px;
  }
/*Responsive for Mobile*/
@media screen and (max-width: 376px) {
   
    .bg-circle {
    position: absolute;
    background: #222;
    border-radius: 50%;
    height: 300px;
    width: 300px; 
    margin-top: 70px; 
  }
  .game-board {
    position: relative;
    min-height: 300px;
    min-width: 300px;
    }
  
  .quadrant {
    border-style: solid;
    border-color: #eee;
    display: inline-block;
    height: 150px;
    width: 150px;
  }
.inner-circle {
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    
  }
 .title{
      font-size: 1.5rem;
      margin: 0;
     
    }
.top-inner {
   padding: 0px 20px 0px 20px;
  }

   .bottom-inner {
    padding: 0px 20px 20px 20px;
  }
  /*Padding Inner Circle Elements*/
  .sm-pd {
padding: 0;
font-size: 1rem;
margin-bottom: 1px; 
  }

   #turn {
    position: absolute;
    background: #330000;
    color: red;
    font-family: courier;
    font-size: 20px;
    height: 20px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin: 3px 10px 1px 1px;
  }

  .level {
    margin: 0;
    display: inline-grid;
    font-size: 0.6rem;
  }
/*Font Awesome Icon Styling*/
  .fa-st {
    color: #7fff00;
    font-size: 1.5rem;
  }
 }
  